@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

body{
	font-family: 'Poppins', sans-serif;
}
.colornav{
	background-color: #0082cb;
}
/*Estilos de personalizados del head*/
.head{
	background-image: url("image/mach 5.png");
	background-repeat: no-repeat;
	background-size: contain;
	height: 100vh;
}
.text h1{
	font-weight: 900;
	font-size: 75px;
	color: #0082cb;
	text-shadow: 0.1em 0.1em 0.2em grey;
}
.text h2{
	font-weight: bold;
}

.community{
	
	height: 17rem;
	background: rgb(0,130,203);
	background: linear-gradient(90deg, rgba(0,130,203,1) 12%, rgba(0,212,255,1) 66%);
}

.community h1{

	font-weight: 900;
}

.community button{
	color: #0082cb;
	font-weight: 600;
}
.price{
	font-weight: 600;
}

.new-title{
	font-weight: 600;
}

/*Estilos personalizados del footer*/
.footer{
	
	background-color: #393d42;
}

.social{
	font-size: 30px;
	margin: 10px;
}
